@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Satisfy&family=Ubuntu&display=swap');

*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  /* background-color: rgb(249, 255, 193); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;